page-tutorial-ionic {

    .left{
        position: absolute;
        left: 38%;
        top: 38%;

    }

    .top{
        position: absolute;
        top: 20%;
        left: 46%;
    }

    .right{
        position: absolute;
        right: 36%;
        top: 38%
    }

    .bottom{
        position: absolute;
        bottom: 35%;
        left:47%;
    }

    .img {
        width: 35%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

}
